@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
       background-color: #000000; 
       background-image:
         linear-gradient(to right, rgba(199, 199, 199, 0.1) 1px, transparent 1px),
         linear-gradient(to bottom, rgba(237, 237, 237, 0.1) 1px, transparent 1px);
       background-size: 20px 20px; 
       background-repeat: repeat;
     }

.header-role {
  color: #f6ff00;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 2.2vh;
  letter-spacing: 0.1em;
  margin-bottom: 1.5vh;
  margin-left: 1.5vw;
}

.main-title {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20vh;
  line-height: 0.85;
  letter-spacing: -0.01em;
  margin-left: 1vw;
}

.name, .surname {
  display: block;
}

.surname {
  margin-top: -0.5vh;
}

.all-intro-text{
    margin-left: 20vh;
    margin-top: 30vh;
    size: 10vh
}

.locator-image{
    height: 2%;
    width: 2%;
    margin-top: 2vh;
    margin-left: 10.9vw;
}

.location-text{
    color: #f6ff00;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-left: 27.5vh;
    margin-top: -4.4vh;
    font-size: 3vh;
}

.nav-bar{
    list-style-type: none;
    overflow: hidden;
    background-color: #1d1d1d;
    text-decoration: none;
    margin-top: -25vh;
    margin-left: 7vh;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 30%;
    border-radius:1.5vh;
    box-shadow: 0 1vh 2vh 0 rgb(125, 125, 125);
    border-color: #f2f2f2;
}

.nav-bar a{
    color: #f2f2f2;
    text-align: center;
    padding: 2vh 3vh;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
}

.nav-bar a:hover{
    background-color: #f6ff00;
    color: black;
    
}

.social-links{
  margin-left: 160vh;
}

.intro{
  color: white;
  margin-top: 25vh;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: #f6ff00;
  border-radius: 5px;
}